<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1061076243519-95fqg84k05t02skculse4bs4emqsh0al.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1061076243519-95fqg84k05t02skculse4bs4emqsh0al</string>
	<key>API_KEY</key>
	<string>AIzaSyA4AJRSF-563P5GGQPlcGRP_Hj7QGQlv7s</string>
	<key>GCM_SENDER_ID</key>
	<string>1061076243519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.employeeLms</string>
	<key>PROJECT_ID</key>
	<string>employee-lms</string>
	<key>STORAGE_BUCKET</key>
	<string>employee-lms.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1061076243519:ios:0fc90d6eaafbde3bf2148a</string>
	<key>DATABASE_URL</key>
	<string>https://employee-lms.firebaseio.com</string>
</dict>
</plist>